.container {

    display: flex;
    justify-content: space-between;

    flex-direction: row;
    align-items: center;
    row-gap: 10px;
    padding: 2px;
    gap: 8px;

    position: absolute;
    width: 736px;
    height: 54px;

    top: 173px;

    left: calc(50% - 736px/2);


    border-radius: 8px;

}

.inputTask {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;

    border-radius: 8px;
    padding: 2px;

    width: 636px;
    height: 54px;


    color: #F2F2F2; 
    background: var(--gray-800)

}
.buttonInsertTask > button {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px;
    gap: 8px;

    width: 90px;
    height: 52px;
    color: #F2F2F2; 

    /* Blue Dark */

    background: #1E6F9F;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

    cursor: pointer;
    
 }

.buttonInsertTask button:hover {


    background: #06334c;

    transition: color 0.1s, backgroud-color 0.1s;
    cursor: pointer;

    transition: background-color 0.1s;
}

.counterTaskLabels {

    /* Tasks */


/* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 736px;
    /* height: 287px; */
    left: calc(50% - 736px/2);
    top: 271px;
}

.footLine {


    display: block;
    align-items: center;

    width: 736px;

    background-color:#eee;
    padding:1px;

    position: absolute;
    width: 736px;
    /* height: 287px; */
    left: calc(50% - 736px/2);
    top: 293px;
}






 