
.header {

position: absolute;
height: 120px;
left: 0px;
right: 0px;
top: 0px;


background: var(--gray-900);

display: flex;
justify-content: center;
padding: 2rem 0;

top: 72px;



}


.header img {
    height: 2rem;
}

.header strong {
    margin-left: 1rem;
    font-size: 1.5rem;
    color: var(--gray-100);
    font-weight: bold;
    line-height: 1.6;

}