/* .wrapper {

    max-width: 50rem;
    margin: 2rem auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: 256px 1fr;
    gap: 2rem;
    align-items: flex-start; 
} */

/* @media (max-width: 768px) {  /* ambiente mobile 
    html {
        font-size: 87.5%; /* 87.5% = 14px ( 16px = 100% */
    /* }
    .wrapper {
        grid-template-columns: 1fr;
    }

    }  */
